*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", 'Roboto', Helvetica, Arial, sans-serif;
}

/*Colors general*/
:root{
    --color--gre-background: #FAFAFA;
    --color-grey-profile: #ffffff;
    --color-grey-search-background: #efefef;
    --color-grey-search-icon: rgb(142, 142, 142, 142);
    --color-grey-border: #dbdbdb;
    --color-grey-text: rgb(142, 142, 142, 142);   
    --color-grey-icons: #262626;   
    --color-red-nav: #ed4956; 
}

/*General styles*/

body{
  background-color: var(--color--gre-background);
}

/*Nav-bar*/
.nav{
    display: flex;
    position: relative;
    justify-content: center;
    padding: 0;
    width: 1349px;
    height: 60px;
}

.nav__container{
    display: flex;
    position: fixed;
    flex-direction: row;
    background: var(--color-grey-profile);
    align-items: center;
    justify-content: center;
    width: 1349px;
    height: 60px;
    z-index: 3;
  
    border-bottom: 1px solid var(--color-grey-border);
}

.nav__container__duplicate{
    display: flex;
    width: 1349px;
    height: 60px;
}

.nav__container__elements{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 100%;
    padding: 0 20px;
    max-width: 975px;
    z-index: 10;
}
.nav__container__element1{
        -webkit-box-flex: 1;
        -webkit-flex: 1 0 127px;
        -ms-flex: 1 0 127px;
        flex: 1 0 127px;
}

.nav__container__element1__img__item{
    flex-direction: row;
    margin-top: 7px;
}
.nav__container__element2{
    display: flex;
    flex: 0 1 auto;
    align-items: center;
    border-radius: 8px;
    height: 36px;
    min-width: 125px;
    width: 268px;
}
.nav__container__element2__form{
    display: flex;
    justify-content: left;
    background: var(--color-grey-search-background);
    color:  var(--color-grey-icons);
    border-radius: 8px;
    height: 36px;
    min-width: 125px;
    width: 268px;
    font-size: 16px;
    padding: 0 16px;
}
.nav__container__element2__form__elements{
    display: flex;
    align-items: center;
    align-self: center;
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}
.nav__container__element2__form__element-1{
    display: flex;
    height: 16px;
    margin-right: 12px;
}

.nav__container__element2__form__element-1-text{
    font-weight: lighter;
    line-height: 25px;
    color: var(--color-grey-text);
  }
.nav__container__element3{
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: flex-end;
    flex: 1 0 127px;
}
.nav__container__element3__icons{
    display: flex;
    height: 24px;
    flex-direction: row;
    padding-left: 24px;
    white-space: nowrap;
}

.nav__container__element3__img{
    width: 24px;
    height: 24px;
    border-radius: 80%;
    cursor: pointer;

}
  
.nav__container__element3__icon:not(:first-child){
    margin-left: 22px;
}

.nav__container__element1,
.nav__container__element2,
.nav__container__element3,
.nav__container__element1__img,
.nav__container__element1__img__item{
display: flex;
}
/*main-container*/
.main{
    width: 1349px;
    -webkit-box-flex: 1;
-webkit-flex-grow: 1;
-ms-flex-positive: 1;
flex-grow: 1;
-webkit-box-ordinal-group: 5;
-webkit-order: 4;
-ms-flex-order: 4;
order: 4;
}
.main__container{
    display: flex;
    padding: 60px 20px 0;
    width: calc(100% - 40px);
    flex-direction: row;
    padding: 30px 20px 0;
    flex-grow: 1;
    box-sizing: content-box;
    margin: 0 auto 30px;
    margin-bottom: 30px;
    max-width: 935px;
    margin-bottom: 0;
}
/*Header*/

.main__container__header{
    display: flex;
    height: 232px;
    flex-direction: row;
    flex-basis: 0;
    flex-grow: 1;
}
.main__container__header__elements__img{
    display: flex;
    justify-content: center;
    margin-right: 30px;
    -webkit-flex-basis: 0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.main__container__header__item__img{
    border-radius: 80%;
}

.main__container__header__info{
    display: flex;
    -webkit-flex-basis: 30px;
    -ms-flex-preferred-size: 30px;
    flex-basis: 30px;
    -webkit-box-flex: 2;
    -webkit-flex-grow: 2;
    -ms-flex-positive: 2;
    flex-grow: 2;
}
.main__container__header__info__items-1{
    display: flex;
    width: 100%;
    flex-direction: row;
    margin-bottom: 20px;
    height: 48px;
    align-items: center;
}
.header_info__item-1__text{
    font-weight: 300;
    font-size: 28px;
    line-height: 32px;
    margin: -5px 0 -6px;
    overflow: hidden;
}
.container__header__info__item-1__icon {
    margin-left: 8px;
    height: 18px;
}
.coreSpriteVerifiedBadge{
    background-position: 0 -369px;
    background-repeat: no-repeat;
    height: 18px;
    width: 18px;
    display: block;
    overflow: hidden;
    text-indent: 110%;
    white-space: nowrap;
	background-image: url(https://www.instagram.com/static/bundles/es6/sprite_core_32f0a4f27407.png/32f0a4f27407.png);
}

.container__header__info__item-1{
    display: flex;
    overflow: hidden;
}

.container__header__info__items-2{
    display: flex;
}

.container__header__info__item-2{
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    height: 30px;
}
.container__header__info__icon-1{
    display: flex;
    width: 113px;
}
.header__info__button__message{
    background-color: transparent;
    border: 1px solid var(--color-grey-border);
    padding: 5px 9px;
    border-radius: 6%;
}
.header__info__message__text{
    font-weight: 600;
    font-size: 14px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.container__header__info__icons-2{
    display: flex;
    flex-direction: row;
    margin-left: 8px;
}
.container__header__info__buttons{
    display: flex;
    height: 30px;
}
.container__header__info__button{
    display: flex;
    flex-direction: row;
}
.container__header__info__button-1{
    display: flex;
    margin-right: 8px;
    width: 100%;
}
.container__header__info__button-1__items{
    padding: 0 24px;
    background-color: transparent;
    border: 1px solid var(--color-grey-border);
    border-radius: 4.8%;
}
.container__header__info__button-1__item-1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container__header__info__button-2{
    width: 34px;
    height: 30px;
    flex: 0 0 auto;
    position: relative;
}

.container__header__info__button-2__items{
    padding: 0 4px;
}
.container__header__info__button-2__1{
    height: 100%;
    width: 100%;
    background: transparent;
    border: 1px solid var(--color-grey-border);
    border-radius: 4.8%;
}
.button-2__item-1{
    display: block;
    position: relative;
}

.glyphsSpriteFriend_Follow{
    display: block;
    background-repeat: no-repeat;
    background-position: -553px -100px;
    height: 12px;
    width: 24px;
    background-image: url(https://www.instagram.com/static/bundles/es6/sprite_glyphs_42be7ea14768.png/42be7ea14768.png);
}
.header__info__items-3{
    display: flex;
    margin-left: 5px;
}

.header__info__item-3__1{
    display: flex;
    background: transparent;
    padding: 8px;
    border: 0px solid transparent;
    cursor: pointer;
}